/* Variables / Custom Properties */
:root {
    --bg-color-1: #163248;
    --bg-color-2: #163248ee;
    --brand-color: #99beda;
}




/* Utility Classes */
.color-inherit {
    color: inherit;
}



/* Common Styles */
section {
    background-color: rgba(153, 190, 218, 0.753);
}

.bg-overlay-dark {    
    background-color: rgb(0 0 0 / 90%);
}

.bg-overlay-light {    
    background-color: rgb(0 0 0 / 10%);
}




/* Header Section*/
header {
    background-color: var(--bg-color-2, );
    color: #99beda;
}

.navbar {
    background-color: var(--bg-color-1, #163248);
}

header .navbar .navbar-brand {
    color: var(--brand-color);
}



/* Cover */
.cover {
    font-size: 2em;
    font-weight: lighter;
}


/* About */
.about .progress-bar {
    background-color: #163248dd;
}

.about .progress-bar .skill-name {
    background-color: #163248;
    opacity: 90%;
}